<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmailFromAddress" value="ferram200011@gmail.com" />
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SmtpUsername" value="ferram200011@gmail.com" />
		<add key="SmtpPassword" value="eacuxpykltyrgsar" />
	</appSettings>
</configuration>
